@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
}

a{
    color: #ffdd00;
}

a:link{
    color: #ffdd00;
}

a:hover{
    color: white;
}

body{
    background: rgb(87,87,86);
}

nav {
    height: 70px;
    background-color: #868686;
    color: #ffdd00;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.572);
}

.logo{
    padding: 10px;
    width: 10%;
    text-align: center;
}

.logo img{
    width: 50px;
}

.links-nav {
    padding: 10px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 60%;
}

li{
    font-family: "Asap" , sans-serif;
    font-weight: 600;
    list-style: none;
}

@media (max-width: 1100px) {

.links-nav {
    width: 80%;
    padding: 10px 20px;
}



@media (max-width: 700px) {

.logo{
    display: none;
}

.links-nav{
    width: 100%;
    justify-content: center;
}

li, a{
    font-size: .75rem;
}

}